<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Date Range Picker</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#startDate, #endDate").datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
</head>
<body>
<form action="#" th:action="@{/carsList}" method="get">
    <label for="startDate">Start Date:</label>
    <input type="text" id="startDate" name="startDate" required>

    <label for="endDate">End Date:</label>
    <input type="text" id="endDate" name="endDate" required>

    <button type="submit">Keresés</button>
</form>
</body>
</html>
