<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Autó szerkesztése</title>
</head>
<body>
<h2>Autó szerkesztése</h2>
<form th:action="@{/adminDashboard/editCarForm}" th:object="${car}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="make">Márka:</label>
        <input type="text" th:field="*{make}" required />
    </div>
    <div>
        <label for="model">Modell:</label>
        <input type="text" th:field="*{model}" required />
    </div>
    <div>
        <label for="price">Ár:</label>
        <input type="number" th:field="*{price}" required />
    </div>
    <div>
        <label for="isactive">Aktív:</label>
        <select th:field="*{isactive}">
            <option value="true">Igen</option>
            <option value="false">Nem</option>
        </select>
    </div>
    <div>
        <button type="submit">Mentés</button>
    </div>
</form>
</body>
</html>
